.certificates {
  max-width: 1440px;
  background-color: black;
  margin: 0 auto;
}

.certificates__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: #dbdbdb;
  margin-bottom: 48px;
}
