.header {
  background: #1b1b1b;
  padding: 11px 0;
}

.header__container {
  display: flex;

  align-items: center;
}

.header__logo--svg {
  padding: 11px 0;
  margin-right: 68px;
}

.header-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  color: #ffffff;
  display: flex;
  margin-right: 422px;
  margin-left: 68px;
}

.header-list__item:not(:last-child) {
  margin-right: 46px;
}
.nav {
  display: flex;
  align-items: center;
}
.header-contact {
  margin-left: 13px;
}
.header-contact__link {
  font-size: 17px;
  line-height: 1.38;
  color: #ffffff;
}
