body {
  font-family: Open Sans, sans-serif;
  color: #212121;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

.header {
  background: #1b1b1b;
  padding: 11px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo--svg {
  padding: 11px 0;
  margin-right: 68px;
}

.header-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 422px;
  margin-left: 68px;
}

.header-list__item:not(:last-child) {
  margin-right: 46px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contact {
  margin-left: 13px;
}

.header-contact__link {
  font-size: 17px;
  line-height: 1.38;
  color: #ffffff;
}

.hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(112.76deg, #1f1f1f -2.7%, rgba(31, 31, 31, 0) 100.57%), url(../../img/businessman-doing-business-analysis.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 961px;
  position: relative;
}

.hero__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: #ffffff;
  width: 500px;
  height: 130px;
  padding-top: 197px;
}

.hero__post-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #bbbbbb;
  padding-top: 147px;
  width: 443px;
  height: 75px;
}

.hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 19px;
  width: 195px;
  height: 59px;
  background: #f57500;
  -webkit-box-shadow: 4px 4px 23px rgba(245, 117, 0, 0.25), -2px -2px 20px rgba(142, 142, 142, 0.25);
          box-shadow: 4px 4px 23px rgba(245, 117, 0, 0.25), -2px -2px 20px rgba(142, 142, 142, 0.25);
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  margin-top: 129px;
  margin-bottom: 44px;
}

.hero__svg--circle {
  position: absolute;
  width: 571px;
  height: 610px;
  left: 690px;
  top: 138px;
}

.hero__svg--arrow_right {
  position: absolute;
  left: 885.32px;
  top: 790px;
}

.hero__svg--arrow-left {
  position: absolute;
  left: 958.68px;
  top: 790px;
}

.price__container {
  background: url(../../img/Rectangle5.png);
}
/*# sourceMappingURL=main.css.map */